.linkIcon:hover svg > path {
  fill: #25c2a0 !important;
}

.projectCard {
  width: 100%;
  height: auto;
  padding: 48px;
  border: 1px solid #f0f0f0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  cursor: pointer;
}

.projectCard img {
  width: 168px;
}

.projectCard:hover {
  border-color: transparent;
  box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f,
    0 5px 12px 4px #00000017;
}
